@tailwind base;
@tailwind components;
@tailwind utilities;


.rdp {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #3b82f6;
    --rdp-background-color: #eff6ff;
    margin: 0;
  }
  
  .rdp-months {
    display: flex;
    gap: 2rem;
  }
  
  .rdp-month {
    margin: 0;
  }
  
  /* For the month captions */
  .rdp-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 0.5rem;
  }
  
  .rdp-caption_label {
    font-weight: 500;
    color: #111827;
  }